.aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  width: 100px;
  height: 100px;
  border: 2px solid var(--clr-text);
  border-radius: 1000%;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 0.85em;
}

.score {
  font-size: 1.2rem;
  text-align: left;
}