.mainContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-block: 1em;
  text-align: center;
}


.form {
  display: flex;
  width: 100%;
  max-width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #bb9edb66;
  border-radius: 12px;
  padding-block: 2rem;
}

.form > input {
  background-color: var(--clr-primary);
  border: none;
  border-radius: 5px;
  padding-block: 0.5em;
  padding-inline: 0.5em;
}

.form > button {
  background-color: var(--clr-primary);
  border-radius: 5px;
  border: none;
  padding-inline: 0.8em;
  padding-block: 0.5em;
}

