
:root[data-theme="dark"] {
  --background: #050e0f;
  --clr-primary: #43b1b6;
  --clr-primary-hover: #5acfd5;
  --clr-primary-active: #229298;
  --clr-secondary: #3f2461;
  --clr-secondary-hover: #57377e;
  --clr-secondary-active: #2f164e;
  --clr-accent: #2dcde3;
  --clr-text: #e4f4f6;
  --toggle-background: #f5faff;
  color-scheme: dark;
}

:root[data-theme='light'] {
  --background: #F0F9FA;
  --clr-primary: #49b6bc;
  --clr-primary-hover: #60cfd5;
  --clr-primary-active: #2c9aa0;
  --clr-secondary: #b89edb;
  --clr-secondary-hover: #c8b1e7;
  --clr-secondary-acitve: #9676c1;
  --clr-accent: #58d4e4;
  --toggle-background: #010104;
  --clr-text: #09191b;
}